body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: block;
}
.side-panel {
    background-color: #29677a;
    width: 270px;
    position: fixed;
    height: 100%;
    overflow: hidden;
}
.nav-bar ul li a{
    text-decoration: none;
    line-height: 1.3;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    color: #aaafb4;
}
nav ul li{
    display: block;
}
nav ul {
    list-style: none;
}
nav {
    position: relative;
    top: 24%;
    right: 10%;
}
nav ul li.active a{
    color: #fff; 
}
nav ul li.active a :hover{
    color: #fff; 
}
.side-panel ul :hover {
    color:rgb(206, 206, 206);
    cursor: pointer;  
}
.side-panel img {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    top: 25%;
    left: 18%;
    border: 6px solid #868e96;
}

.content {
    background-color: #fff;
    position: relative;
    height: 100%;
    margin-left: 270px;
    overflow-y: scroll;
}
#tagline {
    color:#868e96;
    margin-top:0;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 2em;
}
.about-section {
    padding-right: 4%;
    padding-left: 4%;
}
.about-section p {
    color: #868e96;
    font-size: 1.2em;
    margin-top: 5%;
    font-family:'Mulish', sans-serif;
}

.about-section h1 {
    font-size: 5em;
    color: #397fa0;
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: 'Oswald', sans-serif;
}
#first {
    color: #2f3a4d;
}
.socials i{
    color: #2f3a4d;
    font-size: 3.5em;
    margin-right: 3%;
    margin-top: 4%;
    margin-bottom: 16%;
}
.socials i:hover{
    color: #397fa0;
}
.socials a {
    text-decoration: none !important;
}
.section {
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 6%;
}
.section h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    color: #2f3a4d;
    text-transform: uppercase;
}
.section h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    color: #2f3a4d;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 4%;
}
.section h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    color: #868e96;
    text-transform: uppercase;
    margin-top: 0;
}
.section p {
    font-family:'Mulish', sans-serif;
    color: #868e96;
}
.skills i{
    margin-top: 0;
    color: #868e96;
    font-size: 3.5em;
    margin-right: 3%;
    margin-top: 4%;
    margin-bottom: 16%;
}
.skills i:hover{
    color: #397fa0;
}
#skills-icons {
    margin-bottom: 0;
}
#end {
    margin-bottom: 0;
}
.break {
    border: 0;
    height: 1px;
    background: #d2d4d5;
}
#skills-hr {
    margin-bottom: 18%;
}
section {
    height: 100%;
    width: 92%;
}
#about {
    margin-top: 15%;
}
